<nav class="navbar" id="nav-container" style="background:#FF5964;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'Home' %}" style="color:#FFFFFF;">
        <img src="http://ibrandstudio.com/wp-content/uploads/2012/11/custom-logo-for-your-blog.jpg"
          style="max-height:55px;margin-bottom:5px;"
          class="img img-responsive img-rounded"
        alt="">
      </a>
    </div>
   
    <ul class="nav navbar-nav navbar-right">
      {% if user.is_authenticated %}
      <li>
        <ul class="nav navbar-nav navbar-form">
          <li>
            <div >
              <li class="dropdown" style="background:#FFE74C">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;
                  {{ user }} <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Page 1-1</a></li>
                    <li><a href="#">Page 1-2</a></li><hr>
                    <li><a href="{% url 'logout' %}" class="nav-item">logout</a></li>
                  </ul>
                  
                </li>
                
            </div>
          </li>
        </ul>
      </li>
        {% else %}
        <li>
            <form class="navbar-form">
              <a href="{% url 'login' %}" class="btn  navbar-btn" style="background:#FFE74C">Log in</a>
              <a href="{% url 'signup' %}" class="btn  navbar-btn" style="background:#35A7FF;color:#FFFFFF">Sign up</a>
            </form> 
        </li>
        {% endif %}
        
    </ul>
  </div>
</nav>