{% extends 'boards/base.html' %}
{% load staticfiles %}<!-- load static file -->
<!-- head content -->


{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}
<!-- end head -->


<!-- body start -->



{% block content %}
	<table class="table">
		<thead class="thead-inverse" style="background:#35A7FF;color: white;opacity: 5">
			<tr>
				<th>Board</th>
				<th>Posts</th>
				<th>Topics</th>
				<th>Last Post</th>
			</tr>
		</thead>
		<tbody>
			{% for board in boards %}
			<tr>
				<td>
					<a href="{% url 'board_topics' board.pk %}">{{ board.name }}</a>
					<small class="text-muted d-block">{{ board.description }}</small>
				</td>
				<td class="align-middle">0</td>
				<td class="align-middle">0</td>
				<td class="align-middle">0</td>
			</tr>
			{% endfor %}
		</tbody>
		
	</table>

{% endblock %}
<!-- end body -->