{% extends 'boards/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block head %}
{% endblock %}

{% block content %}
	<ol class="breadcrumb my-4">
		  <li class="breadcrumb-item"><a href="{% url 'Home' %}">Boards</a></li>
		  <li class="breadcrumb-item"><a href="{% url 'board_topics' board.pk %}">{{ board.name }}</a></li>
		  <li class="breadcrumb-item active">New topic</li>
	</ol>



	<form method="post">
	    {% csrf_token %}
	    {% for field in form %}
	     <div class="form-group">
	     	{{ field.label_tag }}
	     	{% render_field field class="form-control" %}
	     	{% if field.help_text %}
	     		<small class="form-text text-muted">
	     			{{ field.help_text }}
	     		</small>
	     	{% endif %}
	     </div>
	    {% endfor %}
	    <button type="submit" class="btn btn-success">Post</button>
	</form>
{% endblock %}