{% extends 'boards/base.html' %}
{% load static %}


{% block head %}
{% endblock %}



{% block content %}
	<div class="container">
		<ol class="breadcrumb my-4">
			<li class="breadcrumb-item"><a href="{% url 'Home' %}"> Boards</a></li>
			<li class="breadcrumb-tem active">{{ board.name }}</li>
		</ol>
	</div>
	<div class="mb-4">
		<a href="{% url 'new_topic' board.pk %}" class="btn btn-primary">New Topic</a>
	</div>
	<table class="table">
		<thead class="thead-inverse">
			<tr>
				<th>Topic</th>
				<th>Starter</th>
				<th>Replies</th>
				<th>Views</th>
				<th>Last Update</th>
			</tr>
			<tbody>
				{% for topic in board.topics.all %}
				<tr>
					<td>{{ topic.subject }}</td>
					<td>{{ topic.starter.username }}</td>
					<td>0</td>
					<td>0</td>
					<td>{{ topic.last_updated }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</thead>
	</table>
{% endblock %}