{% extends '../boards/base.html' %}
{% load widget_tweaks%}

{% block content %}
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<form method="post">
				{% csrf_token %}
				<div class="panel" style="background:#FFE74C;">
					<div class="panel-heading">Login</div>
					<div class="panel-body">
						{% for field in form %}
							<div class="form-group">
								{{ field.label_tag }}
								{% render_field field class="form-control"%}
							</div>
						{% endfor %}
					</div>
					<div class="panel-footer text-center" style="background:#6BF178">
						<button class="btn form-control" type="submit" style="background:#FF5964;color:white">Login</button>
						<span class="text-muted">creae new Account!<a href="{% url 'signup' %}">Signup</a></span>
					</div>
			  </div>
			</form>
		</div>
		</div>
	</div>
{% endblock %}