{% extends '../boards/base.html' %}
{% load widget_tweaks%}


{% block content %}
  <div class="row">
      <div class="col-md-4 col-md-offset-4">
         
          <form action="" method="post">
              {% csrf_token %}
              <div class="panel" style="background:#6BF178;">
                  <div class="panel-heading text-center" style="background:#FF5964;color:white">
                         <h3>Reset your Password</h3>
                  </div><hr>
                  <div class="panel-body" style="height:300px;background:#FFE74C;">
                   <div class="form-group">
                       <label for="email">Email</label>
                        {% render_field form.email class='form-control' placeholder='Email' id='email' %}
                   </div>
                  </div>
                  <div class="panel-footer">
                      <button 
                        class="btn form-control"
                         style="background:#35A7FF;color:white">
                         Reset
                      </button>
                  </div>
              </div>
          </form>
      </div>
  </div>
{% endblock %}