{% extends '../boards/base.html' %}
{% load widget_tweaks %}

{% block head %}
{% endblock%}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-offset-4 col-md-4">
			<div class="panel" style="background:#FFE74C">
				<div class="panel-heading text-center"><h3>Sign Up</h3></div>
				<div class="panel-body bg-success">
					<form method="post">
						{% csrf_token %}
						{% for field in form %}
							<div class="form-group">
								{{ field.label_tag }}
								{% render_field field class="form-control" %}
								{% if field.help_text %}
									<small class="form-text text-muted">
										{{ field.help_text | safe }}
									</small>
								{% endif %}
							</div>
							
						{% endfor %}

						<button type="submit" 
							class="btn  form-control" 
							style="background:#35A7FF;color:white">
							Create an account
						</button>
					</form>
				</div>
				<div class="panel-footer text-muted text-center">
					Already have an account?
					<a href="#">Signin</a>
				</div>
			</div>
		</div>
	</div>			
</div>
	
{% endblock %}